<launch>

    <arg name="rgb_camera_topic" default="/camera/color/image_raw"/>
    <arg name="depth_camera_topic" default="/camera/depth/image_rect_raw"/>
    <arg name="rgb_camera_info" default="/camera/color/camera_info"/>
    <arg name="depth_camera_info" default="/camera/depth/camera_info"/>
    <arg name="use_depth" default="False"/>
    <arg name="visual_debug" default="False"/>
    <arg name="textual_debug" default="False"/>
    <arg name="stickman_debug" default="False"/>

    <node name="multibody_manager" pkg="hri_fullbody" type="detect" output="screen">
        <param name="use_depth" value="$(arg use_depth)"/>
        <param name="visual_debug" value="$(arg visual_debug)"/>
        <param name="textual_debug" value="$(arg textual_debug)"/>
        <param name="stickman_debug" value="$(arg stickman_debug)"/>

        <remap from="/rgb_image" to="$(arg rgb_camera_topic)"/>
        <remap from="/rgb_info" to="$(arg rgb_camera_info)"/>
        <remap from="/depth_image" to="$(arg depth_camera_topic)"/>
        <remap from="/depth_info" to="$(arg depth_camera_info)"/>
    </node>

</launch>
